@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #000;
  --black-two: #121212;
  --grey-border: #e8e8e8;
  --cool-blue: #4386bf;
  --pinkish-grey: #c7c7c7;
  --pale-grey: #f5f6fa;
  --azure: #0290ff;
  --warm-grey: #888;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #fafafa;
  min-width: 855px;
}

h1,
h2,
h3,
h4,
p {
  margin: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  min-height: 960px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 6em;
  border: solid 1px var(--grey-border);
  background-color: #fff;
}

nav .left {
  display: flex;
  align-items: center;
  gap: 2em;
}

nav .left h1 {
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

nav .left ul {
  display: flex;
  gap: 1em;
}

nav .left ul li {
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.main .bookStore {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.main .bookStore hr {
  background-color: #e8e8e8;
  border: none;
  width: 82%;
  height: 0.125rem;
}

.bookList {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 1em;
  background-color: #fff;
  border: solid 1px var(--grey-border);
}

.book .left {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 2;
}

.book .left .heading .bookTitle {
  font-size: 1.17em;
  font-weight: bold;
  color: black;
}

.book .left .heading .bookAuthor {
  font-size: 0.8rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  margin-top: 0.4em;
}

.book .left .interactions {
  display: flex;
  gap: 1em;
}

.v-line-small {
  border-left: solid 1px #e8e8e8;
  width: 0.125em;
  height: 1.5em;
}

.v-line-big {
  border-left: solid 1px #e8e8e8;
  width: 0.125rem;
  height: 4.375rem;
}

.book .left .interactions button {
  font-size: 0.8rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #4386bf;
}

.book .middle {
  display: flex;
  align-items: center;
  gap: 1em;
  flex: 1;
}

.book .middle .progress {
  width: 50px;
  height: 50px;
}

.book .middle .percentage {
  display: flex;
  flex-direction: column;
}

.book .middle .percentage h4 {
  font-size: 1.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book .middle .percentage span {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.book .right {
  font-family: 'RobotoSlab', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}

.book .right .upper span {
  font-size: 0.8rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.5);
}

.book .right .upper p {
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.book .right .update-progress {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  width: 15.5em;
  height: 2.063em;
  background-color: #0290ff;
  border: none;
  padding: 0.438rem 1.188rem;
  border-radius: 3px;
  color: #fff;
}

.showBook {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 82%;
  margin: auto;
}

.form-container .formHeading {
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
  margin-left: 0;
}

.form-container .inputs {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form-container .inputs .firstInputs {
  display: flex;
  gap: 2em;
}

.form-container .inputs input,
.form-container .inputs textarea {
  padding: 0.813rem 3.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.form-container .inputs .firstInputs .titleInput {
  flex: 4;
}

.form-container .inputs .firstInputs .authorInput {
  flex: 2;
}

.form-container .inputs .description textarea {
  width: 70%;
  height: 100px;
}

.form-container .inputs .lastInputs {
  display: flex;
  gap: 2em;
}

.form-container .inputs .input-submit,
.add-book-button {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  width: 11.5rem;
  height: 2.813rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
  border: none;
}

.add-book-button {
  letter-spacing: 0;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 2em 1em;
  border-radius: 3px;
  border: none;
  margin: auto;
}

.categories {
  text-align: center;
  width: 90%;
  margin: auto;
}

.categories .checkStatus {
  width: 200px;
}

.showBook {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 40%;
  margin: auto;
  padding: 1em;
  background-color: #fff;
  border: solid 1px var(--grey-border);
}

.showBook-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  /* width: 80%;
  margin: auto; */
}

.showBook-header-title {
  display: flex;
  flex-direction: column;
  /* flex: 2; */
}

.showBook-body {
}
