:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #000;
  --black-two: #121212;
  --grey-border: #e8e8e8;
  --cool-blue: #4386bf;
  --pinkish-grey: #c7c7c7;
  --pale-grey: #f5f6fa;
  --azure: #0290ff;
  --warm-grey: #888;
}

body {
  font-family: Arial, Helvetica, sans-serif, 'Segoe UI', 'Roboto', 'Oxygen';
  margin: 0;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  min-height: 960px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  border: solid 1px var(--grey-border);
  background-color: #fff;
}

nav .left {
  display: flex;
  align-items: center;
  gap: 2em;
}

nav .left ul {
  display: flex;
  gap: 1em;
}

.bookList {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 0 1em;
  background-color: #fff;
  border: solid 1px var(--grey-border);
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 0 1.1em;
}

.form-container .inputs {
  display: flex;
  gap: 2em;
}

.form-container .inputs .titleInput {
  flex: 3;
}

.form-container .inputs .authorInput {
  flex: 2;
}

.checkStatus {
  width: 200px;
  margin: auto;
}
